*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    color:white;
}
/*.............. navbar............. */
.navbar{
    width:100%;
    height:auto;
}
.navbar ul{
    display:flex;
    list-style: none;
    margin-left: 5vw;
}
.navbar{
    padding:4vh 0 2vh 0;
}
.navbar ul li a{
    text-decoration:none;
    color:white;
    margin:2vw 2vw;
    
}
.navbar ul li a:hover{
    text-decoration: underline;
    
}
/* .....................introduction.............. */
#intro{
    width:95%;
    height:auto;
    display:flex;
    justify-content:space-between;
    position: relative;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}
  #intro-logo img{
    width:45vw;
    height:auto;
    position: relative;
    right: 3vw;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: ease-in-out;
}
#intro-name{
    text-align: left;
    height:1 rem;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    font-size:3vw;
    border-radius:10px;
    margin-bottom: 20vh;
    margin-left:4vw;
    word-spacing: 3px;
}
.intro-style{
    font-family: 'Merriweather', serif;
    font-size: 4vw;
    background: linear-gradient(to right, #3AC0CF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width:697px){
   #intro{
    flex-direction:column;
   }
   #intro-name{
    margin-top:5vh;
    margin-bottom:0;
   }
   .intro-style{
    font-size: 5vw;
   }
}
@keyframes slide {
    0%{position:relative;bottom:0px}
    50%{position:relative;bottom:10px;}
    100%{position: relative;bottom:0px;}
}
#links a img{
    width:3vw;
    height:auto;
    margin-top: 2vh;
    border-radius: 100px;
    background-color: white;
    border: 1px solid white;
} 

#back-video{
    z-index: -1;
    position: absolute;
    top:0;
}
/* .............................about.............................. */
#about{
    width:95%;
    margin:auto;
    background-image: url("images/droplets.jpg");
    margin-top:7vh;
    margin-bottom:7vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border-radius:10px;
}
#img{
    width:40vw;
    margin-right: 5vw;
}
.about-sec{
    display: flex;
    justify-content: space-between;
}
#about img{
    width:33vw;
    height:auto;
    margin:15vh 0vh 15vh 8vw;
    border-radius:20px;
}
#about1{
    width:35vw;;
    height:auto; 
    font-size: large;
    line-height: 1.5;
    font-weight: 300;
    margin:10vw 5vw;
}
#about1 h3,h4{
    font-weight: 500;
    word-spacing: 1px;;
}
#about1 a{
    text-decoration: none;
    color:black;
    font-weight: 300;
    background: linear-gradient(rgb(120, 146, 194), #476e9e);
    padding:7px;
    border-radius: 5px;
}
#about1 a:hover{
    background: linear-gradient( #476e9e,rgb(120, 146, 194));
}
#disclaimer{
    font-size: 8px;
    font-weight: 100;
    margin: 10px 10px 10px 0;
}
@media screen and (max-width:789px) {
    .about-sec{
        flex-direction: column;
        align-items: center;
    }
    #about img{
        width:35vw;
        margin: 10vh auto;
    }
    #about1{
        width:80%;
        margin:auto;
    }
}
.secbar{
    position:absolute;
    top:0;
    right:0;
    color:white;
    padding:10px 15px;
    border-radius: 5px;
    background: linear-gradient(rgb(120, 146, 194), #476e9e);
}

/* ................skills.................. */
.skills{
    width:95%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:7vh auto;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    border-radius: 10px;
}
#depict{
    margin-top: 3vh;
    letter-spacing: 1px;
    
}

.resize-skills{
    width:720px;
    height:auto;
    margin:20px auto;
    border-radius: 10px;
    background: rgba(0, 0, 22, 0.4);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.div-box{
    width:120px;
    height:120px;
    background: rgba(10, 10, 19, 0.9);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:15px 5px;
}
.div-box img{
    width:47px;
    height: auto;
    margin-top:20px;
}
.div-box p{
    margin-top: 20px;
    font-size: 17px;
}
#small img{
    width:60px;
}
.div-box:hover{
    background-color: black;
}
@media screen and (max-width:872px){
    .resize-skills{
        width:500px;
    }

}
@media screen and (max-width:616px){
    .resize-skills{
        width:300px;
    }

}
/*............projects.............. */
.carousel-inner{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 7vh auto;
    background-image: url("images/droplets.jpg");
    border-radius: 10px;
}
.carousel-item{
    width:50%;
    margin:7vh auto;

}
.carousel-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 3vh 0 3vh 0;
}
.carousel-text h4{
     font-weight: 500;
}
.carousel-text p{
    font-weight: 200;
}
.carousel-layer a{
    text-decoration: none;
    margin: 0 20px;
    background: linear-gradient(rgb(120, 146, 194), #476e9e);
    color: white;
    padding:5px 10px;
    border-radius: 5px;
}
/* ....................contact.................. */
#contact-form{
    width:95%;
    height:auto;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius:10px;
    position: relative;
}
#contact-control{
    width:50%;
    height:auto;
    background-color: white;
    padding:10px;
    margin:2vw 0;
    border-radius: 20px;

}
#contact-control form h3{
    color:blue;
    margin:2vh;
    font-weight: 600;
}
#contact-control form p{
    color:black;
    font-weight: 300;
    margin-top: -1vh;
}
.contact-areas{
    width:90%;
    height:auto;
    margin:3vh;
    padding:5px;
}
#contact-img img{
    width:40vw;
    height: a;
    margin:2vw 0;
}
@media screen and (max-width:658px) {
    #contact-control{
        width:100%;
    }
    #contact-img img{
        display: none;;
    }
}


/*.............. footer................. */
.footer{
    background-color: #191919;
    width:95%;
    margin:auto;
    display:flex;
    justify-content: space-evenly;
    margin-top: 7vh;
    border-radius: 10px;
    font-weight: 500;
    line-height: 22px;
}
.footertxt{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30vw;
    margin:7vh 2vw 3vh 2vw;
}
.footertxt1{
    display:flex;
    flex-direction: column;
    width:30vw;
    margin:7vh 2vw 3vh 2vw;
}
.footertxt ul{
    list-style: none;
}
.footertxt ul li a{
    text-decoration: none;
    color:white;
}
.footertxt ul li a:hover{
    text-decoration: underline;
}
.footertxt h5{
    font-weight: 400;
    font-size: 3vh;
    margin-bottom: 3vh;
    text-decoration: underline;
}
#footertxt3{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30vw;
    margin:7vh 2vw 3vh 2vw;
}
@media  screen and (max-width:680px){
    .footer{
       font-weight: 200;
    }
    .footertxt h5{
        font-size: medium;
    }
    #footertxt3{
        font-size: 2vw;
    }
        
    
}
    
